<b> Velkommen til Norsent, dette er et sommerprosjekt jeg har jobbet med under sommeren 2018.</b>
<br>
<b>Jeg kommer nok til oppdatere litt etter hvor mye tid jeg har til overs</b>
<br>
<a href="https://norsent.herokuapp.com/tweet">Klikk her for å gå til prosjektet</a>
<br>
<b>Hvordan fungerer det?: </b>
<br>
<b>Bruker machinelearning som leser setninger som blir tweetet om gitte emnet. Videre vil hver setning bli gitt en verdi fra -1 til 1.</b>
<br>
<b>Her er -1 veldig negativt og 1 er veldig positivt. Herfra snittes tidligere verdier og gir en positiv eller negativ trend om det gitte evnet.</b>
<br>
<b>Nyeste oppdatering: </b>
<br>
<b>Forside</b>
<b>Graf for snitta følelser</b>
<br>
<b>Diverse feilrettinger</b>