<b> Velkommen til Norsent, dette er et sommerprosjekt jeg har jobbet med sommeren 2018.</b>
<br>
<b>Jeg kommer til å oppdatere videre når jeg har tid.</b>
<br>
<br>
<a href="https://norsent.herokuapp.com/tweet">Klikk her for å gå til prosjektet</a>
<br>
<br>
<b>Hvordan fungerer det?: </b>
<br>
<b>Bruker machinelearning som analyserer setninger som blir tweetet det gitte emnet. Videre vil hver setning bli gitt en verdi fra -1 til 1.
<br>
Her er -1 veldig negativt og 1 er veldig positivt. Herfra tas gjennomsnittet av tidligere verdier og gir en positiv eller negativ trend.
<br>
Grafen har tidsskala i timer slik at -0.01 er et minutt tilbake i tid og -1 er da en time bak.
<br>
<br>
<br>
<br>
<br>
<b>Laget av Martin Soria Røvang</b>
<br>
<b>Mail: martinrovang@gmail.com</b>
<br>
<b>Github: https://github.com/MartinRovang</b>