<b> Velkommen til Norsent, dette er et sommerprosjekt jeg har jobbet med under sommeren 2018.</b>
<br>
<b>Jeg kommer nok til oppdatere litt etter hvor mye tid jeg har til overs</b>
<br>
<br>
<a href="https://norsent.herokuapp.com/tweet">Klikk her for å gå til prosjektet</a>
<br>
<br>
<b>Hvordan fungerer det?: </b>
<br>
<b>Bruker machinelearning som leser setninger som blir tweetet om gitte emnet. Videre vil hver setning bli gitt en verdi fra -1 til 1.
<br>
Her er -1 veldig negativt og 1 er veldig positivt. Herfra snittes tidligere verdier og gir en positiv eller negativ trend om det gitte evnet.
<br>
<br>
Nyeste oppdatering: 
<br>
Forside
<br>
Graf for snitta følelser
<br>
Diverse feilrettinger</b>
<br>


<br>
<br>
<br>
<br>
<b>Laget av Martin Soria Røvang</b>
<br>
<b>Mail: martinrovang@gmail.com</b>
<br>
<b>Github: https://github.com/MartinRovang</b>